name: Submit dependency graph
on:
  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'
      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/gradle-build-action@v3.5.0
        with:
          dependency-graph: generate-and-submit
      - name: Run a build and generate the dependency graph which will be submitted post-job
        run: ./gradlew build -x integration -x test